body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightgray;
    margin: auto;
    text-align: center;
    /* margin-left: auto;
    margin-right: auto; */
}

button {
    padding: 5px;
    background-color: rgb(146, 146, 146);
    margin: 15px;
    width: 70px;
}

.dark-mode {
    background-color: rgb(51, 50, 50);
    color: white;
  }
  
.board td {
    width: 25px;
    height: 25px;
    text-align: center;
}
.table {
    margin-left: auto;
    margin-right: auto;
    /* float: inline-end; */
}

.clock {
    padding: 5px;
    background-color: rgb(146, 146, 146);
    margin: 10px;
    width: 50px;
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    
}

.mark {
    background-color: rgb(252, 46, 77);
    color: red;
}

.hint {
    background-color: rgb(149, 255, 149);

}